<div class="container">
  <h1><%= @post.title %></h1>
  <ul>
    <li>Content: <%= @post.content %></li>
    <li>Created At: <%= @post.created_at %></li>
    <li>Updated At: <%= @post.updated_at %></li>
  </ul>
  <h4>Comments</h4>
  <ul>
    <% @comments.each do |comment| %>
      <li>
        <%= comment.content %>(By: <%= "#{comment.user&.email} #{comment.created_at}" %>)
        <% if user_signed_in? && comment.user == current_user %>
          <%= link_to 'Edit Comment', edit_post_comment_path(@post, comment), class: "btn btn-sm btn-warning" %>
          <%= button_to 'Delete', post_comment_path(@post, comment), method: :delete, class: "btn btn-sm btn-danger" %>
        <% end %>
      </li>
    <% end %>
  </ul>
  </div>
<div class="container">
  <%= link_to 'Edit Post', edit_post_path(@post), class: "btn btn-warning" %>
  <%= link_to 'Post List', posts_path, class: "btn btn-secondary" %>
  <%= link_to 'New Comment', new_post_comment_path(@post), class: "btn btn-success" %>
</div>
