<div class="container">

  <h1><%= @post.title %></h1>
  <%= image_tag @post.image.url if @post.image.present? %>
  <ul>
    <li>Content: <%= @post.content %></li>
    <li>Created At: <%= @post.created_at %></li>
    <li>Updated At: <%= @post.updated_at %></li>
    <li>Created BY: <%= @post.user&.email %></li>
  </ul>
  <h4>Comments</h4>
  <ul>
    <% @post.comments.each do |comment| %>
      <li><%= comment.content %>(<%= comment.created_at %>)</li>
    <% end %>
  </ul>
</div>
<div class="container">
  <%= link_to 'Edit Post', edit_post_path(@post), class: "btn btn-warning" %>
  <%= link_to 'Post List', posts_path, class: "btn btn-secondary" %>
  <%= link_to 'New Comment', new_post_comment_path(@post), class: "btn btn-success" %>
</div>
