<!DOCTYPE html>
<html>
<head>
  <title>KodaCamp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">KODACAMP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link #{'active' if controller_name == 'welcome' && action_name == 'index' }", 'aria-current': 'page' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Posts', posts_path, class: "nav-link #{'active' if controller_name == 'posts' && action_name == 'index' }", 'aria-current': 'page' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Categories', categories_path, class: "nav-link #{'active' if action_name == 'about' }", 'aria-current': 'page' %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_path, class: "nav-link #{'active' if action_name == 'about' }", 'aria-current': 'page' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <p class="notice"><%= alert %></p>
    </div>
  <% end %>
</div>

<%= yield %>
</body>
</html>
